.buttons-wrapper {
    position: relative;
    height: 100px;
    
    .float-button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    h3 {
        margin: 0;
        font-size: calc(0.4vw + 0.9rem);
    }

    .btn {
        display: inline-block;
        padding: 1.1% 3%;
        box-shadow: 0 0 15px 6px #ffffff0f;
        filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.3));
        cursor: pointer;
        bottom: calc(50vh - 25%);
        transition: all 0.3s ease-in-out;
        position: fixed;
        z-index: 99;

        color: #F8E6FA;
        border: 2px solid #7E2A85;
    }

    .btn.active-view {
        color: #FFFFFF;
        background: linear-gradient(156deg, rgba(126,42,133,1) 0%, rgba(126,42,133,1) 25%, rgba(184,62,194,1) 50%, rgba(126,42,133,1) 75%, rgba(126,42,133,1) 100%);
        border: 2px solid rgba(0, 0, 0, 0.45);
    }

    .btn:not(.active-view) {
        background: #00000087;
    }
    
    .btn:not(.active-view):hover {
        background: #a036aa2f;
    }

    i {
        visibility: hidden;
        position: absolute;
    }
    
    .porfolio-icon {
        font-size: 2rem;
        bottom: 0.7rem;
        left: 0.6rem;
    }

    .resume-icon {
        font-size: 1.7rem;
        bottom: 1rem;
        left: 0.9rem;
    }
    
    .btn1 {
        right: calc(13vw + 10% + 5px);
        margin-right: 2rem;
    }

    .btn2 {
        right: calc(0vw + 10%);
    }

    .floating {

        i {
            visibility: visible;
        }

        .btn {
            position: fixed;
            border-radius: 50%;
            right: 5rem;
            height: 3.6rem;
            width: 3.6rem;
            padding: 0;
            transform: translateZ(0);

            h3 {
                visibility: hidden;
            }
        }

        .btn1{
            bottom: 120px;
            margin: 0;
        }

        .btn2{
            bottom: 30px;
        }

        .btn:not(.active-view) {
            background: #000000ba;
        }

        .btn:not(.active-view):hover {
            background: #a036aacb;
        }
    }
}