//HEADER
@media (max-width: 1400px) {
    header {
        
        h1 {
            font-size: calc(3vw + 1.8rem);
        }

        .buttons-wrapper {
            h3 {
                font-size: calc(0.4vw + 0.7rem);
            }

            .btn {
                display: inline-block;
                padding: 0.9% 2.5%;
                box-shadow: 0 0 15px 6px #ffffff0f;
                filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.3));
                cursor: pointer;
                bottom: calc(50vh - 15%);
                transition: all 0.3s ease-in-out;
                position: fixed;
                z-index: 99;
            }

            .btn1 {
                margin-right: 0.4rem;
            }

            //ICONS
            .porfolio-icon {
                font-size: 1.8rem;
                bottom: 0.5rem;
                left: 0.7rem;
            }
        
            .resume-icon {
                font-size: 1.5rem;
                bottom: 0.8rem;
                left: 0.65rem;
            }

            .floating {
        
                .btn {
                    right: 2rem;
                    height: 3rem;
                    width: 3rem;
                }
        
                .btn1{
                    bottom: 100px;
                }
        
                .btn2 {
                    bottom: 30px;
                }
            }
        }

        .scroll-btn-wrapper {
            
            .scroll-btn {
                padding: 0.3rem;
                i {
                    font-size: 1.6rem;
                }
            }
        }
    }

    //MAIN
    body {
        main {

            .porfolio-wrapper {
                h4 {
                    font-size: 1.6vw;
                }
            }

            .project-wrapper {
                gap: 4%;
                margin: 0 9%;

                .project-bg {
                    border-radius: 2rem;
                }

                .project-text {
                    padding: 5%;

                    h4 {
                        font-size: 1.5vw;
                    }
                }

                .gallery-controls-wrapper {
                    display: flex;
                    justify-content: center;
                    padding: 3% 0;
                    gap: 2vw;
            
                    .control-square {
                        height: 1.2vw;
                        width: 1.2vw;
                        border: solid 2px white;
                        rotate: 45deg;
                        border-radius: 50%;
                        transition: 0.3s;
                        cursor: pointer;
                    }
                }
            }
        }
        

        //IMAGE LEFT

        .project-image-left {
            grid-template-columns: 6fr 4fr;

            .project-text {
                align-self: end;
                position: relative;
                bottom: -5%;
            }
        }

        //IMAGE RIGHT

        .project-image-right {
            grid-template-columns: 4fr 6fr;

            .project-text {
                align-self: start;
            }

            .project-image-gallery {
                align-self: end;
                position: relative;
                bottom: -10%;
            }
        }

    }
}

//MAX WIDTH 1200px

@media (max-width: 1200px) {
    body {
        .header-bg {
            background: url('../images/header_bg.png');
            background-size: cover;
            background-position-x: -20vw;
            z-index: -2;
        }

        .body_bg_header {
            display: none;
        }

        header {
            .header-text {
                padding: 0.8rem;
            }

            .buttons-wrapper {
                .porfolio-icon {
                    font-size: 1.6rem;
                    bottom: 0.6rem;
                    left: 0.7rem;
                }
            
                .resume-icon {
                    font-size: 1.3rem;
                    bottom: 0.8rem;
                    left: 0.7rem;
                }

                .floating {
                    .btn {
                        right: 1rem;
                        height: 2.8rem;
                        width: 2.8rem;
                    }
            
                    .btn1{
                        bottom: 100px;
                    }
            
                    .btn2 {
                        bottom: 30px;
                    }
                }
            }
        }

        main {

            .porfolio-wrapper {
                h4 {
                    font-size: 1.8vw;
                }
            }

            .project-wrapper {
                gap: 4%;
                margin: 0 9%;

                .project-bg {
                    border-radius: 1rem;
                }

                .project-text {
                    padding: 5%;

                    h4 {
                        font-size: 1.7vw;
                    }
                }
            }
        }
    }
}

//MAX WIDTH 900px

@media (max-width: 900px) {
    header {
        
        h1 {
            font-size: calc(3vw + 1.8rem);
        }

        .buttons-wrapper {
            h3 {
                font-size: calc(0.1vw + 1.4rem);
            }

            .btn {
                display: inline-block;
                padding: 0.9% 2.5%;
                box-shadow: 0 0 15px 6px #ffffff0f;
                filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.3));
                cursor: pointer;
                bottom: calc(50vh - 10%);
                transition: all 0.3s ease-in-out;
                position: fixed;
                z-index: 99;
            }

            .btn1 {
                margin-right: 5rem;
            }
        }

        .scroll-btn-wrapper {
            i {
                color: white;
                transform: rotate(-45deg);
                font-size: 1.5rem;
            }
        }
    }

    body {
        main {
            padding: 5% 0;

            .porfolio-wrapper {
                h4 {
                    font-size: 2.8vw;
                }
            }

            .project-wrapper {
                display: flex;
                flex-shrink: 0;
                flex-direction: column;
                margin: 0 15%;
                text-transform: uppercase;

                .project-text {

                    h4 {
                        font-size: 2.7vw;
                    }
                }
            
                .project-bg {
                    background: radial-gradient(circle, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.62) 29%, rgba(0,0,0,0.78) 100%),
                    radial-gradient(circle, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.62) 29%, rgba(0,0,0,0.78) 100%);
                    border-radius: 1rem;
                    box-shadow: 0 0 4px 4px rgba(254, 206, 190, 0.56),
                                0 0 15px 24px rgba(254, 206, 190, 0.32);
                }
            
                .project-image-gallery {
                    position: relative;
                    margin-right: 10%;
                    margin-bottom: 5%;
                }
            
                .project-text {
                    position: relative;
                    padding: 4%;
                    margin-left: 5%;
                }
            }
            
            //IMAGE LEFT
            
            .project-image-left {
            
                .project-text {
                    align-self: end;
                    position: relative;
                    bottom: 0;
                }
            
                .project-image-gallery {
                    align-self: start;
                }
            }
            
            //IMAGE RIGHT
            
            .project-image-right {
            
                .project-text {
                    align-self: start;
                    order: (2);
                }
            
                .project-image-gallery {
                    align-self: end;
                    position: relative;
                    bottom: 0;
                    order: (1);
                }
            }
            
            //IMAGE GALLERY
            
            .project-image-gallery {
                display: flex;
                flex-direction: column;
            
                .project-title {
                    padding: 3% 0;
                }
            
            
                .gallery-controls-wrapper {
                    display: flex;
                    justify-content: center;
                    padding: 3% 0;
                    gap: 2vw;
            
                    .control-square {
                        height: 1.5vw;
                        width: 1.5vw;
                        border: solid 2px white;
                        rotate: 45deg;
                        border-radius: 50%;
                        transition: 0.3s;
                        cursor: pointer;
                    }
            
                    .control-square-active, .control-square:hover {
                        background: white;
                    }
                }
            }
        }
    }
    
}

//MAX WIDTH 600px

@media (max-width: 600px) {
    header {
        justify-content: flex-start;

        .header-wrapper {   
            padding-top: 20%;
        }
        
        .text-wrapper {
            display: block;
            padding: 0 10%;
        }
    
        h1 {
            font-size: calc(3vw + 2rem);
        }
    
        .header-text {
            right: auto;
            display: block;
            text-align: center;
    
            .h1 {
                padding: 0 0.5rem;
                letter-spacing: 3px;
                background: none;
            }
        }

        .buttons-wrapper {
            h3 {
                font-size: calc(0.1vw + 1.4rem);
            }

            .btn {
                padding: 2% 4%;
                filter: drop-shadow(0 0 0.3rem rgba(255, 255, 255, 0.3));
            }

            .btn1 {
                margin-right: 0;
                right: 50%;
                transform: translateX(50%);
                bottom: calc(50vh - 18%);
            }

            .btn2 {
                right: 50%;
                transform: translateX(50%);
                bottom: calc(50vh - 28%);
                padding: 2% 8%;
            }
        }
    }

    body {
        .header-bg {
            background: url("/images/header_bg_mobile.png");
            background-size: cover;
            background-position-x: center;
        }
        main {
            padding: 5% 0;

            .porfolio-wrapper {
                h4 {
                    font-size: 4vw;
                }
            }

            .project-wrapper {
                margin: 0 5%;

                .project-bg {
                    box-shadow: 0 0 4px 2px rgba(254, 206, 190, 0.56),
                                0 0 15px 12px rgba(254, 206, 190, 0.32);
                }

                .project-text {

                    h4 {
                        font-size: 3.9vw;
                    }
                }
            }
            
            //IMAGE GALLERY
            
            .project-image-gallery {
            
                .gallery-controls-wrapper {
            
                    .control-square {
                        margin: 0 2%;
                        height: 2.4vw;
                        width: 2.4vw;
                        border: solid 2px white;
                        rotate: 45deg;
                        border-radius: 50%;
                        transition: 0.3s;
                        cursor: pointer;
                    }
            
                    .control-square-active, .control-square:hover {
                        background: white;
                    }
                }
            }

            .divider {
                margin: 7% 0 5%;
            }
        }
    }
    
}
