@supports (-webkit-touch-callout: none) {
    .project-image-gallery {
        .image-arrow-wrapper {
            display: block;
            width: auto;
            margin: 0 10%;
    
            .image {
                width: 100%;
            }
    
            .arrow {
                display: none;
            }
        }
    }

    .buttons-wrapper {
        .btn {
            bottom: calc(50vh - 25%);
        }
    }
}

_::-webkit-full-page-media, _:future, :root .safari_only {
    .project-image-gallery {
        .image-arrow-wrapper {
            display: block;
            width: auto;
            margin: 0 10%;
    
            .image {
                width: 100%;
            }
    
            .arrow {
                display: none;
            }
        }
    }
}