@import 'fonts';
@import 'header';
@import 'main';
// @import 'responsive';
@import 'project';
@import 'float_buttons';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}